
<section id="catalog" class="bj-page-header__dropdown">
  <div class="i-relative">
    <article>
      <div class="container-fluid">
        <div class="bj-page-header__dropdown-hr"></div>
        <div class="bj-page-header__dropdown-container">
          <div class="bj-page-header__dropdown-links"><a href="">Игровые мячи</a><br/><a href="">Тренировочные</a><br/><a href="">Дальномеры</a><br/><a href="">Другое</a><br/><a href="">Зонты</a><br/><a href="">Маты тренировочные</a><br/><a href="">Полотенца</a><br/><a href="">Тележки</a><br/><a href="">Ти</a><br/><a href="">Тренажеры</a><br/><a href="">Мини гольфи</a><br/></div>
          <div class="bj-page-header__dropdown-banner"><img src="/upload/stories3.jpg" alt=""/></div>
        </div>
      </div>
    </article>
  </div>
</section>
<section id="predzakaz" class="bj-page-header__dropdown">
  <div class="i-relative">
    <article>
      <div class="container-fluid">
        <div class="bj-page-header__dropdown-hr"></div>
        <div class="bj-page-header__dropdown-container">
          <div class="bj-page-header__dropdown-links"><a href="">Игровые мячи</a><br/><a href="">Тренировочные</a><br/><a href="">Дальномеры</a><br/></div>
          <div class="bj-page-header__dropdown-banner"><img src="/upload/stories3.jpg" alt=""/></div>
        </div>
      </div>
    </article>
  </div>
</section>