// start /components/header_golf-market/

link( rel="stylesheet", href="/components/header_golf-market/style.css" )
script( src="/components/header_golf-market/script.js" )

#headerGM
  header.bj-page-header.i-load
    section.bj-page-header__top
      .container-fluid
        .row

          .col-xs-3.col-sm-3.visible-sm-block.visible-xs-block
            a.ob-menu-sandwich.bj-nav-button( href='#' )
              span.bj-menu-icon( style="background-image: url( '/template/images/headers/header_golf-market/menu.svg' );" )
        
          .col-md-9.col-sm-6.col-xs-6.bj-logo-space
            span.bj-logo
              img( src='/template/images/golfmarketlogo.svg' alt='Golf market' )
              
            span.bj-page-header__search
              form( action='/catalog/' )
                input#title-search-input.bj-page-header__search__input.form-control(type='search', name='q', size='23', maxlength='50', autocomplete='off' value='' placeholder="Поиск по каталогу" )
                svg.bj-page-header__search-icon( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                  path(d="M19.83,19l-5.37-5.3a8.28,8.28,0,1,0-.82.82L19,19.83a.58.58,0,0,0,.81-.82ZM8.24,15.41a7,7,0,0,1-2.76-.56,7.14,7.14,0,0,1-3.77-3.77,7.18,7.18,0,0,1,0-5.51A7.14,7.14,0,0,1,5.48,1.8,7.18,7.18,0,0,1,11,1.8a7.14,7.14,0,0,1,3.77,3.77,7.18,7.18,0,0,1,0,5.51A7.14,7.14,0,0,1,11,14.85,7,7,0,0,1,8.24,15.41Z")
                input(name='s', type='hidden', value='')
              
          .col-md-3.col-sm-3.col-xs-3
          
            #personal_menu.bj-personal.hidden-sm.hidden-xs
              .bj-personal-icon( style="background-image: url( '/upload/logo-pomidor.jpg' );" )
              
            span#sale-basket-basket-line-container
              a#bx_cart_block.bj-cart-icon( href="/personal/cart/" )
                span.b-shopping-cart( style=" background-image: url( '/template/images/headers/header_golf-market/basket.svg' );" )
                span#bx_cart_num.bj-cart-icon__num 0
            
            span.bj-search-icon.hidden-sm.hidden-xs
              span( style=" background-image: url( '/template/images/headers/header_golf-market/search.svg' );" )
                
            a.bj-earphone-icon(href='#', data-toggle='modal', data-target='#myModal' )
              span( style="background-image: url( '/template/images/headers/header_golf-market/phone.svg' );" )
            
            .bj-page-header__search-close

    section.bj-page-header__sub.hidden-sm.hidden-xs
      .container-fluid
        .bj-top-nav.hidden-sm.hidden-xs
          a.bj-page-header__menu-link(href='#catalog') Каталог
          a.bj-page-header__menu-link(href='#predzakaz') Предзаказ
          a(href='/about/delivery/') Доставка и оплата
          a(href='/about/') Наши магазины
          a(href='/about/contacts/') Контакты
    
    section#cartDropdown.bj-page-header__cart-dropdown( data-url="/ajax-response/header-cart-dropdown-ajax.html" data-method="GET" )
      .i-relative
          article
            .container-fluid
            .progress
              .indeterminate
    
    include header-dropdown
    include header-user-dropdown
            
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
            |                   
            h2#myModalLabel.modal-title.text-center &Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
          |                 
          .modal-body.text-center
            .bj-text-x-large 8 (495) 212 85 06
            |                   
            .small &Pcy;&ncy;-&Vcy;&scy; 10-19
          |                 
          .modal-footer.text-center(style='display:none')
            button.btn.btn-default(type='button') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy; &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
  

#OBCatalogMenu
  .limiter.ob-catalog-menu
    div(class='ob-catalog-menu__block')
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Солнцезащитные очки
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все солнцезащитные очки
          a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
          a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
          a(href='' class='ob-catalog-menu-sub__item') Balenciaga
          a(href='' class='ob-catalog-menu-sub__item') Belstaff
          a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
          a(href='' class='ob-catalog-menu-sub__item') Boucheron
          a(href='' class='ob-catalog-menu-sub__item') Brioni
          a(href='' class='ob-catalog-menu-sub__item') Bvlgari
          a(href='' class='ob-catalog-menu-sub__item') Carrera
          a(href='' class='ob-catalog-menu-sub__item') Cartier
          a(href='' class='ob-catalog-menu-sub__item') Celine
          a(href='' class='ob-catalog-menu-sub__item') Chloe
          a(href='' class='ob-catalog-menu-sub__item') Chopard
          a(href='' class='ob-catalog-menu-sub__item') DITA
          a(href='' class='ob-catalog-menu-sub__item') Dior
          a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
          a(href='' class='ob-catalog-menu-sub__item') Elie Saab
          a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
          a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
          a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
          a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
          a(href='' class='ob-catalog-menu-sub__item') Fakoshima
          a(href='' class='ob-catalog-menu-sub__item') Fendi
          a(href='' class='ob-catalog-menu-sub__item') Fred
          a(href='' class='ob-catalog-menu-sub__item') George Keburia
          a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Оправы
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все оправы
          a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
          a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
          a(href='' class='ob-catalog-menu-sub__item') Balenciaga
          a(href='' class='ob-catalog-menu-sub__item') Belstaff
          a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
          a(href='' class='ob-catalog-menu-sub__item') Boucheron
          a(href='' class='ob-catalog-menu-sub__item') Brioni
          a(href='' class='ob-catalog-menu-sub__item') Bvlgari
          a(href='' class='ob-catalog-menu-sub__item') Carrera
          a(href='' class='ob-catalog-menu-sub__item') Cartier
          a(href='' class='ob-catalog-menu-sub__item') Celine
          a(href='' class='ob-catalog-menu-sub__item') Chloe
          a(href='' class='ob-catalog-menu-sub__item') Chopard
          a(href='' class='ob-catalog-menu-sub__item') DITA
          a(href='' class='ob-catalog-menu-sub__item') Dior
          a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
          a(href='' class='ob-catalog-menu-sub__item') Elie Saab
          a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
          a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
          a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
          a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
          a(href='' class='ob-catalog-menu-sub__item') Fakoshima
          a(href='' class='ob-catalog-menu-sub__item') Fendi
          a(href='' class='ob-catalog-menu-sub__item') Fred
          a(href='' class='ob-catalog-menu-sub__item') George Keburia
          a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
      div(class='ob-catalog-menu__item')
        a.i-link(href='' class='ob-catalog-menu__link') Распродажа
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Контактные линзы
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все контактные линзы
          a(href='' class='ob-catalog-menu-sub__item') ADRIA
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Аксессуары
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все аксессуары
          a(href='' class='ob-catalog-menu-sub__item') Средства по уходу
          a(href='' class='ob-catalog-menu-sub__item') Цепочки для очков
          a(href='' class='ob-catalog-menu-sub__item') Чехлы для очков
          a(href='' class='ob-catalog-menu-sub__item') Шкатулки для очков
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Распродажа
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все распродажи
          a(href='' class='ob-catalog-menu-sub__item') Оправы
          a(href='' class='ob-catalog-menu-sub__item') Солнцезащитные очки
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Очки по типам
        .ob-catalog-menu-sub
          span(class='ob-catalog-menu-sub__title')
            b Солнцезащитные очки
          a(href='' class='ob-catalog-menu-sub__item') Мужские
          a(href='' class='ob-catalog-menu-sub__item') Женские
          a(href='' class='ob-catalog-menu-sub__item') Детские
          a(href='' class='ob-catalog-menu-sub__item') Круглые
          a(href='' class='ob-catalog-menu-sub__item') Спортивные
          a(href='' class='ob-catalog-menu-sub__item') Кошачий глаз
          a(href='' class='ob-catalog-menu-sub__item') Авиаторы
          a(href='' class='ob-catalog-menu-sub__item') Овальные
          a(href='' class='ob-catalog-menu-sub__item') С поляризацией
          a(href='' class='ob-catalog-menu-sub__item') Зеркальные
          span(class='ob-catalog-menu-sub__title')
            b Оправы
          a(href='' class='ob-catalog-menu-sub__item') Женские Vogue
          a(href='' class='ob-catalog-menu-sub__item') Мужские
          a(href='' class='ob-catalog-menu-sub__item') Модные
          a(href='' class='ob-catalog-menu-sub__item') Детские
          a(href='' class='ob-catalog-menu-sub__item') Круглые
          a(href='' class='ob-catalog-menu-sub__item') Металлические
          a(href='' class='ob-catalog-menu-sub__item') Необычные
          a(href='' class='ob-catalog-menu-sub__item') Прозрачные
          a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Женские
          span(class='ob-catalog-menu-sub__title')
            b Популярные модели
          a(href='' class='ob-catalog-menu-sub__item') Мужские Prada
          a(href='' class='ob-catalog-menu-sub__item') Мужские Gucci
          a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Wayfarer
          a(href='' class='ob-catalog-menu-sub__item') Женские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Aviator
          a(href='' class='ob-catalog-menu-sub__item') Clubmaster
          a(href='' class='ob-catalog-menu-sub__item') Junior
          a(href='' class='ob-catalog-menu-sub__item') Круглые Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Highstreet

.ob-search-result( style="top: 415px; left: 0; display: none;" )
  a(href="") Солнцезащитные <b>очк</b>и
  a(href="") Стеклянные очки
  a(href="") Очки Emporio Armani
  a(href="") Очки Emporio Armani

.title-search-result(style='position: absolute; top: 114px; left: 15px; width: 345px;')
  .bx_searche
    a.bx_item_block.item__result(href='/catalog/solntsezashchitnye_ochki/pr_67xs_aav0a7_58/')
      .bx_img_element
        .bx_image(style="background-image: url('/upload/resize_cache/iblock/7f4/0e03s30fn5sl9r7wea56463g0y6akxh6/75_75_1/de8bf190a96e11ea398a0050568900f8_b78c61e4b17d11ea73950050568900f8.jpg')")
      .bx_item_element
        div
          b &Ocy;&chcy;&kcy;&icy;
          |  Prada  PR 67XS AAV0A7 58
        .bx_price
    a.bx_item_block.item__result(href='/catalog/solntsezashchitnye_ochki/ps_55vs_1bo5w1_62/')
      .bx_img_element
        .bx_image(style="background-image: url('/upload/resize_cache/iblock/dc7/61az8htalzfv219fa033o9kb0qjlbv88/75_75_1/43af0708b4a311ea459a0050568900f8_97ecff46b6e211eae1820050568900f8.jpg')")
      .bx_item_element
        div
          b &Ocy;&chcy;&kcy;&icy;
          |  Prada  PS 55VS 1BO5W1 62
        .bx_price
    a.bx_item_block.item__result(href='/catalog/solntsezashchitnye_ochki/er_n15_dear_b_p_52/')
      .bx_img_element
        .bx_image(style="background-image: url('/upload/resize_cache/iblock/865/ej330b6mqttjnjhg8p0qchl4gw81e1zx/75_75_1/f6a50d063db511ed977a0050568900f8_c62dcadc3e3711ed977a0050568900f8.jpg')")
      .bx_item_element
        div
          b &Ocy;&chcy;&kcy;&icy;
          |  Eyerepublic  ER N15 dear b/p 52
        .bx_price
    a.bx_item_block.item__result(href='/catalog/solntsezashchitnye_ochki/er_n15_night_out_b_p_52/')
      .bx_img_element
        .bx_image(style="background-image: url('/upload/resize_cache/iblock/77b/tu0ex0ptglcmmfu10ybmtlwpp9781oe8/75_75_1/834349363db511ed977a0050568900f8_34afa70a3e3811ed977a0050568900f8.jpg')")
      .bx_item_element
        div
          b &Ocy;&chcy;&kcy;&icy;
          |  Eyerepublic  ER N15 night out b/p 52
        .bx_price
    a.bx_item_block.item__result(href='/catalog/solntsezashchitnye_ochki/er_n15_tabacco_b_p_52/')
      .bx_img_element
        .bx_image(style="background-image: url('/upload/resize_cache/iblock/511/jdyrk4rf1kmf3m92yb68ustk9bhaf59i/75_75_1/22e6754e3db611ed977a0050568900f8_a02282e63e3811ed977a0050568900f8.jpg')")
      .bx_item_element
        div
          b &Ocy;&chcy;&kcy;&icy;
          |  Eyerepublic  ER N15 tabacco b/p 52
        .bx_price
    .bx_item_block.all_result
      a(href='/catalog/?q=%D0%BE%D1%87%D0%BA%D0%B8') &Vcy;&scy;&iecy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&ycy;



// end /components/header_golf-market/