
<!-- start /components/catalog.order/-->
<link rel="stylesheet" href="/components/catalog.order/style.css"/>
<script src="/components/catalog.order/script.js"></script>
<div class="b-catalog-order">
  <div class="b-catalog-order__action"> 
    <div style="background-image: url('images/empty-wallet.svg');" class="b-catalog-order__icon"></div>
    <div class="b-catalog-order__subtitle">Оплата заказа</div>
    <div class="b-catalog-order__title">Оплата банковской картой или системой быстрых платежей</div>
    <div class="b-catalog-order__p">Услугу предоставляет сервис онлайн-платежей «ЮKassa».<br>Сумма к оплате по счету: 26 900 руб.</div>
    <div class="btn btn-size-L">Оплатить заказ</div>
  </div>
  <div class="b-catalog-order__info">
    <div style="background-image: url('images/receipt-text.svg');" class="b-catalog-order__icon"></div>
    <div class="b-catalog-order__block">
      <div class="b-catalog-order__row">
        <div class="b-catalog-order__number">
          <div>Номер заказа</div><b>825/28/12/2022</b>
        </div>
        <div class="b-catalog-order__time">
          <div>Время заказа</div><i>28.12.2022<br>10:58:13</i>
        </div>
        <div class="b-catalog-order__payment">
          <div>Номер оплаты:</div><b>825/28/12/2022/1</b>
        </div>
      </div>
      <div class="b-catalog-order__p">Вы можете следить за выполнением своего заказа в Персональном разделе сайта. Обратите внимание, что для входа в этот раздел вам необходимо будет ввести логин и пароль пользователя сайта.</div>
      <div class="btn btn-default">Перейти в персональный раздел</div>
    </div>
  </div>
</div>
<!-- end /components/catalog.order/-->