section#catalog.bj-page-header__dropdown
  .i-relative
      article
        .container-fluid
          .bj-page-header__dropdown-hr
        
          .bj-page-header__dropdown-container

            .bj-page-header__dropdown-links
              a( href="" ) Игровые мячи
              br
              a( href="" ) Тренировочные
              br
              a( href="" ) Дальномеры
              br
              a( href="" ) Другое
              br
              a( href="" ) Зонты
              br
              a( href="" ) Маты тренировочные
              br
              a( href="" ) Полотенца
              br
              a( href="" ) Тележки
              br
              a( href="" ) Ти
              br
              a( href="" ) Тренажеры
              br
              a( href="" ) Мини гольфи
              br
            .bj-page-header__dropdown-banner
              img(src="/upload/stories3.jpg" alt="")

section#predzakaz.bj-page-header__dropdown
  .i-relative
      article
        .container-fluid
          .bj-page-header__dropdown-hr
        
          .bj-page-header__dropdown-container

            .bj-page-header__dropdown-links
              a( href="" ) Игровые мячи
              br
              a( href="" ) Тренировочные
              br
              a( href="" ) Дальномеры
              br
            .bj-page-header__dropdown-banner
              img(src="/upload/stories3.jpg" alt="")