// start /components/header_golf-market2/

link( rel="stylesheet", href="/components/header_golf-market2/style.css" )
script( src="/components/header_golf-market2/script.js" )

#headerGM
  header.bj-page-header.i-load
    section(class='bj-page-header__top')
      .container-fluid
        .bj-menu-icon-space.visible-sm-block.visible-xs-block
          a.ob-menu-sandwich.bj-nav-button(href='#')
            span.bj-menu-icon(style="background-image: url('/template/images/headers/header_golf-market/menu.svg');")
        .bj-logo-space
          span.bj-logo
            img(src='/template/images/golfmarketlogo.svg' alt='Golf market' width='106')
        .bj-menu-space
          div(class='bj-menu-space__top hidden-sm hidden-xs')
            div(class='bj-page-header__sub')
              a(href='') Доставка и оплата
              a(href='') LookBook
              a(href='') Наши магазины
              a(href='') Новости
              a(href='') Контакты
            div(class='bj-page-header__address')
              a(href='tel:+74951366403') +7 (495) 136 64 03
              span Москва, Берсеневский переулок д. 5, стр. 2
          .row
            .col-md-8.col-sm-8.col-xs-8.bj-search-space
              .bj-top-nav.hidden-sm.hidden-xs
                a(href='/catalog') Клюшки
                a(href='/predzakaz' data-sub="#predzakaz" class='bj-page-header__menu-link') Одежда
                a(href='/about/delivery/') Мячи
                a(href='/about/') Перчатки
                a(href='/catalog' data-sub="#catalog" class='bj-page-header__menu-link') Бэги
                a(href='/about/contacts/') Аксессуары
              span(class='bj-page-header__search')
                form(action='/catalog/')
                  input#title-search-input(type='search' name='q' size='23' maxlength='50' autocomplete='off' value='' placeholder='Поиск по каталогу' class='bj-page-header__search__input form-control')
                  svg.bj-page-header__search-icon( xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
                    path(d="M19.83,19l-5.37-5.3a8.28,8.28,0,1,0-.82.82L19,19.83a.58.58,0,0,0,.81-.82ZM8.24,15.41a7,7,0,0,1-2.76-.56,7.14,7.14,0,0,1-3.77-3.77,7.18,7.18,0,0,1,0-5.51A7.14,7.14,0,0,1,5.48,1.8,7.18,7.18,0,0,1,11,1.8a7.14,7.14,0,0,1,3.77,3.77,7.18,7.18,0,0,1,0,5.51A7.14,7.14,0,0,1,11,14.85,7,7,0,0,1,8.24,15.41Z")
                  input(name='s' type='hidden' value='')
            .col-md-4.col-xs-12.text-right
              .bj-personal.hidden-sm.hidden-xs(id='personal_menu')
                .bj-personal-icon(style="background-image: url('/upload/logo-pomidor.jpg')")
              span#sale-basket-basket-line-container
                a.bj-cart-icon(id='bx_cart_block' href='/personal/cart/')
                  span.b-shopping-cart(style="background-image: url('/template/images/headers/header_golf-market/basket.svg');")
                  span(id='bx_cart_num' class='bj-cart-icon__num') 0
              span.bj-search-icon.hidden-sm.hidden-xs
                span(style="background-image: url('/template/images/headers/header_golf-market/search.svg');")
              a.bj-earphone-icon(href='#' data-toggle='modal' data-target='#myModal')
                span(style="background-image: url('/template/images/headers/header_golf-market/phone.svg');")
              div(class='bj-page-header__search-close')
    section#cartDropdown(data-url='/ajax-response/header-cart-dropdown-ajax.html' data-method='GET' class='bj-page-header__cart-dropdown')
      .i-relative
        article
          .container-fluid
          .progress
            .indeterminate
    section#catalog(class='bj-page-header__dropdown')
      .i-relative
        article
          .container-fluid
            div(class='bj-page-header__dropdown-hr')
            div(class='bj-page-header__dropdown-container')
              div(class='bj-page-header__dropdown-links')
                a(href='') Игровые мячи
                a(href='') Тренировочные
                a(href='') Дальномеры
                a(href='') Другое
                a(href='') Зонты
                a(href='') Маты тренировочные
                a(href='') Полотенца
                a(href='') Тележки
                a(href='') Ти
                a(href='') Тренажеры
                a(href='') Мини гольфи
              div(class='bj-page-header__dropdown-banner')
                img(src='/upload/stories4.jpg' alt='')
    section#predzakaz(class='bj-page-header__dropdown')
      .i-relative
        article
          .container-fluid
            div(class='bj-page-header__dropdown-hr')
            div(class='bj-page-header__dropdown-container')
              div(class='bj-page-header__dropdown-links')
                a(href='') Игровые мячи
                a(href='') Тренировочные
                a(href='') Дальномеры
              div(class='bj-page-header__dropdown-banner')
                img(src='/upload/stories3.jpg' alt='')
    section#userDropdown(class='bj-page-header__user-dropdown')
      .i-relative
        article
          .container-fluid
            a(href='') Войти
            a(href='') Регистрация
            hr
            a(href='') tatiana
            a(href='') Мои заказы
            a(href='') Выйти
    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
            h2#myModalLabel.modal-title.text-center
              | &Ncy;&acy;&shcy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;
          .modal-body.text-center
            .bj-text-x-large 8 (495) 212 85 06
            .small &Pcy;&ncy;-&Vcy;&scy; 10-19
          .modal-footer.text-center(style='display: none')
            button.btn.btn-default(type='button')
              | &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
              | &zcy;&vcy;&ocy;&ncy;&ocy;&kcy;
#OBCatalogMenu
  .limiter.ob-catalog-menu
    div(class='ob-catalog-menu__block')
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Солнцезащитные очки
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все солнцезащитные очки
          a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
          a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
          a(href='' class='ob-catalog-menu-sub__item') Balenciaga
          a(href='' class='ob-catalog-menu-sub__item') Belstaff
          a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
          a(href='' class='ob-catalog-menu-sub__item') Boucheron
          a(href='' class='ob-catalog-menu-sub__item') Brioni
          a(href='' class='ob-catalog-menu-sub__item') Bvlgari
          a(href='' class='ob-catalog-menu-sub__item') Carrera
          a(href='' class='ob-catalog-menu-sub__item') Cartier
          a(href='' class='ob-catalog-menu-sub__item') Celine
          a(href='' class='ob-catalog-menu-sub__item') Chloe
          a(href='' class='ob-catalog-menu-sub__item') Chopard
          a(href='' class='ob-catalog-menu-sub__item') DITA
          a(href='' class='ob-catalog-menu-sub__item') Dior
          a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
          a(href='' class='ob-catalog-menu-sub__item') Elie Saab
          a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
          a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
          a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
          a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
          a(href='' class='ob-catalog-menu-sub__item') Fakoshima
          a(href='' class='ob-catalog-menu-sub__item') Fendi
          a(href='' class='ob-catalog-menu-sub__item') Fred
          a(href='' class='ob-catalog-menu-sub__item') George Keburia
          a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Оправы
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все оправы
          a(href='' class='ob-catalog-menu-sub__item') Alexander McQueen
          a(href='' class='ob-catalog-menu-sub__item') Andy Wolf
          a(href='' class='ob-catalog-menu-sub__item') Balenciaga
          a(href='' class='ob-catalog-menu-sub__item') Belstaff
          a(href='' class='ob-catalog-menu-sub__item') Bottega Veneta
          a(href='' class='ob-catalog-menu-sub__item') Boucheron
          a(href='' class='ob-catalog-menu-sub__item') Brioni
          a(href='' class='ob-catalog-menu-sub__item') Bvlgari
          a(href='' class='ob-catalog-menu-sub__item') Carrera
          a(href='' class='ob-catalog-menu-sub__item') Cartier
          a(href='' class='ob-catalog-menu-sub__item') Celine
          a(href='' class='ob-catalog-menu-sub__item') Chloe
          a(href='' class='ob-catalog-menu-sub__item') Chopard
          a(href='' class='ob-catalog-menu-sub__item') DITA
          a(href='' class='ob-catalog-menu-sub__item') Dior
          a(href='' class='ob-catalog-menu-sub__item') Dolce&amp;Gabbana
          a(href='' class='ob-catalog-menu-sub__item') Elie Saab
          a(href='' class='ob-catalog-menu-sub__item') Emilio Pucci
          a(href='' class='ob-catalog-menu-sub__item') Emporio Armani
          a(href='' class='ob-catalog-menu-sub__item') Ermenegildo Zenia
          a(href='' class='ob-catalog-menu-sub__item') Exchange Armani
          a(href='' class='ob-catalog-menu-sub__item') Fakoshima
          a(href='' class='ob-catalog-menu-sub__item') Fendi
          a(href='' class='ob-catalog-menu-sub__item') Fred
          a(href='' class='ob-catalog-menu-sub__item') George Keburia
          a(href='' class='ob-catalog-menu-sub__item') Giorgio Armani
      div(class='ob-catalog-menu__item')
        a(href='' class='i-link ob-catalog-menu__link') Распродажа
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Контактные линзы
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все контактные линзы
          a(href='' class='ob-catalog-menu-sub__item') ADRIA
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Аксессуары
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все аксессуары
          a(href='' class='ob-catalog-menu-sub__item') Средства по уходу
          a(href='' class='ob-catalog-menu-sub__item') Цепочки для очков
          a(href='' class='ob-catalog-menu-sub__item') Чехлы для очков
          a(href='' class='ob-catalog-menu-sub__item') Шкатулки для очков
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Распродажа
        .ob-catalog-menu-sub
          a(href='' class='ob-catalog-menu-sub__title')
            b Все распродажи
          a(href='' class='ob-catalog-menu-sub__item') Оправы
          a(href='' class='ob-catalog-menu-sub__item') Солнцезащитные очки
      div(class='ob-catalog-menu__item')
        a(href='' class='ob-catalog-menu__link') Очки по типам
        .ob-catalog-menu-sub
          span(class='ob-catalog-menu-sub__title')
            b Солнцезащитные очки
          a(href='' class='ob-catalog-menu-sub__item') Мужские
          a(href='' class='ob-catalog-menu-sub__item') Женские
          a(href='' class='ob-catalog-menu-sub__item') Детские
          a(href='' class='ob-catalog-menu-sub__item') Круглые
          a(href='' class='ob-catalog-menu-sub__item') Спортивные
          a(href='' class='ob-catalog-menu-sub__item') Кошачий глаз
          a(href='' class='ob-catalog-menu-sub__item') Авиаторы
          a(href='' class='ob-catalog-menu-sub__item') Овальные
          a(href='' class='ob-catalog-menu-sub__item') С поляризацией
          a(href='' class='ob-catalog-menu-sub__item') Зеркальные
          span(class='ob-catalog-menu-sub__title')
            b Оправы
          a(href='' class='ob-catalog-menu-sub__item') Женские Vogue
          a(href='' class='ob-catalog-menu-sub__item') Мужские
          a(href='' class='ob-catalog-menu-sub__item') Модные
          a(href='' class='ob-catalog-menu-sub__item') Детские
          a(href='' class='ob-catalog-menu-sub__item') Круглые
          a(href='' class='ob-catalog-menu-sub__item') Металлические
          a(href='' class='ob-catalog-menu-sub__item') Необычные
          a(href='' class='ob-catalog-menu-sub__item') Прозрачные
          a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Женские
          span(class='ob-catalog-menu-sub__title')
            b Популярные модели
          a(href='' class='ob-catalog-menu-sub__item') Мужские Prada
          a(href='' class='ob-catalog-menu-sub__item') Мужские Gucci
          a(href='' class='ob-catalog-menu-sub__item') Мужские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Wayfarer
          a(href='' class='ob-catalog-menu-sub__item') Женские Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Aviator
          a(href='' class='ob-catalog-menu-sub__item') Clubmaster
          a(href='' class='ob-catalog-menu-sub__item') Junior
          a(href='' class='ob-catalog-menu-sub__item') Круглые Ray Ban
          a(href='' class='ob-catalog-menu-sub__item') Highstreet
.ob-search-result(style='top: 415px; left: 0; display: none')
  a(href='') Солнцезащитные 
    b очк
    | и
  a(href='') Стеклянные очки
  a(href='') Очки Emporio Armani
  a(href='') Очки Emporio Armani


// end /components/header_golf-market2/