extends ./layouts/main.jade

block title
  title Main page | seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Golf Market
        
    h2 Шапка
    ul
      li
        a( href="/headers/golf-market/" ) Golf-market
        
    h2 Каталог
    ul
      li
        a( href="/catalog/" ) catalog collection