extends ./layouts/main.jade

block title
  title Main page | seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L
    
    h1 Golf Market
        
    h2 Шапка
    ul
      li
        a( href="/pages/headers/golf-market/" ) Golf-market
      li
        a( href="/pages/headers/golf-market2/" ) Golf-market 2 (Адрес, телефон, двухуровневое меню)
        
    h2 Каталог
    ul
      li
        a( href="/pages/catalog/" ) catalog collection
    ul
      li
        a( href="/pages/catalog/order/" ) Заказ сформирован